@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @{
        var ingressPath = HttpContextAccessor.HttpContext?.Request?.Headers["X-Ingress-Path"].FirstOrDefault();
        var fallback = "./";
        var baseHref = string.IsNullOrEmpty(ingressPath) ? fallback : $"{ingressPath}/";
    }
    <base href="@baseHref" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="PlantHub.Web.styles.css" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <p>v. 0.1.26</p>
    <Routes />
    <p>ingress path = @ingressPath</p>
    <p>fallback = @fallback</p>
    <p>base href = @baseHref</p>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>

