name: PlantHub
slug: planthub
version: "0.2.0"
description: Plant and watering management for Home Assistant
startup: services
init: false
ingress: true
ingress_port: 8099
panel_icon: mdi:leaf
arch:
  - amd64
  - aarch64
  - armv7
homeassistant_api: true
hassio_api: true
map:
  - config:rw
